asgiref==3.10.0
beautifulsoup4==4.14.2
behave==1.2.7.dev6
behave-django==1.7.0
behave-html-formatter==0.9.10
colorama==0.4.6
cucumber-expressions==18.0.1
cucumber-tag-expressions==8.0.0
Django==5.2.8
parse==1.20.2
parse_type==0.6.6
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
